body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 1.428571429;
   color: #333;
   background-color: #fff
}

#container {
   margin: 0 auto;
}

ul#messages {
   list-style-type: none;
   margin: 0;
   padding: 0 5px;
}

ul#messages li {
   margin: 0;
   padding: 5px 0;
   border-bottom: 1px solid #f0f0f0;

   line-height: 16px;
}
