!!!
html
    head
        title= "socket-chat"
        link(href='/style.css', rel='stylesheet')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='//code.jquery.com/jquery-1.10.1.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')

        script(type='text/javascript').
         $(document).ready(function() {
            $('#username').focus();

            $('#field').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#send').trigger('click');
               }
            });

            $('#username').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#authenticate').trigger('click');
               }
            });

            $('#password').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#authenticate').trigger('click');
               }
            });
         });
    body
        #container(style='width: 715px;')
          span#server(style='display: none') #{server}
          h1 socket-chat
          #content(style='float: left; width: 500px; height: 300px; margin: 0 0 10px 0; border: solid 1px #999; overflow-y: scroll;')
          #online(style='float: right; width: 200px; height: 300px; margin: 0 0 10px 10px; border: solid 1px #999; overflow-y: scroll;')
          #clear(style='clear: both;')
          #register-form
            input#register-username(placeholder='Username')
            input#register-password(type='password', placeholder='Password')
            input#register-password-confirm(type='password', placeholder='Confirm Password')
            input#register(type='button', value='Register')
            span#register-status
            br
          #auth-form
            input#username(placeholder='Username')
            input#password(type='password', placeholder='Password')
            input#authenticate(type='button', value='Authenticate')
            span#auth-status
            br
          #chat-controls(style='display: none;')
            input#uuid(type='hidden')
            input#field(style='width:350px;')
            input#send(type='button', value='Send')
            input#logoff(type='button', value='Logoff')
          h2 Commands
          ul
            li /encrypt &lt;key&gt; &lt;salt&gt; &lt;plaintext&gt;
            li /decrypt &lt;key&gt; &lt;salt&gt; &lt;ciphertext&gt;
            li /impersonate &lt;display name&gt; &lt;message&gt; (admin only). Sends message using a different display name.
            li /nick &lt;new display name&gt; (admin only). Same as /impersonate, but retains impersonated display name.
            li /disconnect
            li /disconnect &lt;other UUID&gt; (admin only)
            li /reboot (admin only)
          h2 Help
          ul
            li To login, use <strong>demo</strong> as the username and password.
            li To send an encrypted message to a specific user, check their name. A unique key and salt will be generated for each message.
            li Display names prefixed with @ denote an administrative user.
            li Display names enclosed in parenthesis denote an encrypted message sent to you (and possibly other recipients).
