!!!
html
    head
        title= "Real time web chat"
        link(href='/style.css', rel='stylesheet')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='//code.jquery.com/jquery-1.10.1.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')

        script(type='text/javascript').
         $(document).ready(function() {
            $('#username').focus();
            
            $('#field').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#send').trigger('click');
               }
            });

            $('#username').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#authenticate').trigger('click');
               }
            });

            $('#password').keyup(function(e) {
               if (e.keyCode == 13) {
                  $('#authenticate').trigger('click');
               }
            });
         });
    body
        span#name
        #content(style='width: 500px; height: 300px; margin: 0 0 10px 0; border: solid 1px #999; overflow-y: scroll;')
        #auth-form
            input#username(placeholder='Username')
            input#password(type='password', placeholder='Password')
            input#authenticate(type='button', value='Authenticate')
            span#auth-status
            br
        #chat-controls
            input#uuid(type='hidden')
            input#field(style='width:350px;')
            input#send(type='button', value='Send')
            input#logoff(type='button', value='Logoff')
        #crypto
            div#ciphertext
            div#key
            div#salt